<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <title>CRUD</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Contactos</h2>
			<a href="/nuevo" class="btn btn-default">Nuevo</a>
			<br><br>
			<% if(lista.length>0){%>
			<table class="table table-bordered" border="1">
			<thead>
				<th>Titulo</th>
				<th>Resumen</th>
				<th>Fecha</th>
				<th>Imagen</th>
				<th></th>
			</thead>
			  <% for(var i=0; i<lista.length; i++) {%>
				<tr class="quote">
				  <td><%= lista[i].titulo %></td>
				  <td><%= lista[i].resumen %></td>
					<td><%= lista[i].fecha %></td>
					<td><img  width="200" height="200" src="/uploads/<%= lista[i].imagen %>"></td>
				  <td>
					<a href="/editar/<%= lista[i].id %>" class="btn btn-warning">Editar</a>
					<a href="/eliminar/<%= lista[i].id %>" class="btn btn-danger">Eliminar</a>
				  </td>
				</tr>
			  <% } %>
			</table>
			<%} else {%>
			<p class="alert alert-warning">No hay contactos</p>
			<% } %>
		</div>
	</div>
</div>
</body>
</html>